/* 3x3 grid */
#gameBoard {
  /*center the container */
  position: absolute;
  left:25%;
  bottom:5%;
  border: 15px solid black;
  min-height: 60vh;
  max-height: 60vh;
  min-width: 50vw;
  max-width: 50vw;
  /*create a 3x3 grid*/
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  width: 50vw;
  height: 30vw;
}

div > div {
  padding: 10px;
  background-color: #ccc;
}
/* Freezes the gameboard upoen game end */
.freeze { pointer-events: none; }
/*POsition players*/
#players{
  display:flex;
  justify-content: space-around;
}
/*Position the title*/
#title{
  display:flex;
  justify-content: center;
}
/*Position the result*/
#result{
  display:flex;
  justify-content: center;
  
}