/* 3x3 grid */
#gameBoard {
  position: absolute;
  left:25%;
  border: 15px solid black;
  min-height: 70vh;
  max-height: 70vh;
  min-width: 50vw;
  max-width: 50vw;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  width: 50vw;
  height: 30vw;

}

div > div {
  padding: 10px;
  background-color: #ccc;
}
/* Freezes the gameboard upoen game end */
.freeze { pointer-events: none; }

#players{
  display:flex;
  justify-content: space-around;
}
#title{
  display:flex;
  justify-content: center;
}
